.checkout {
    .congrats {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10em 0;
//      margin: auto;
//      width: 60%;
//      border: 3px solid #73AD21;
//      padding: 10px;
        .cong {
            
            h1 {
                color: #8bc34a;
                margin-bottom: 1em;
            }

            button {
                width: 180px;
                height: 40px;
                background: #8bc34a;
                border: none;
                border-radius: 3px;
                outline: none;
                color: #ffffff;
                margin-top: 2em;
            }
        }
    }
}