.profile-page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 3em 0;

    .profile-category {
        max-width: 280px;
        margin-right: 2em;
    }

    .profile-list {
        flex-grow: 1;
    }
}