.main-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;

    .content {
        display: flex;
        align-items: center;

        .cancel-btn {
            margin-right: 15px;
        }

        .prof {
            .p {
                margin-bottom: 10px;
            }
        }

        .main-img {
            border: 1px solid #c6c6c5;
            border-radius: 5px;
            margin: 0 10px;
        }
    }
}