.category-item {

    .product {
        position: relative;
        border: solid 1px #c6c6c5;
        border-radius: 5px;

        figure {
            

            .img {
                width: 100%;
                height: auto;
                border-radius: 5px 5px 0 0;
                
            }

            // .love {

            //     position: absolute;
            //     // transform: translate(-50%, -50%);
            //     left: 70%;
            //     bottom: 70%;

            // }
        }

        .love {

            position: absolute;
            // transform: translate(-50%, -50%);
            left: 85%;
            bottom: 90%;

        }

        .details {
            border-top: 1px solid #c6c6c5;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1em;
        }
    }
}