.slider-main-container {
    width: 100%;

    figure {
        text-align: center;
        width: 100%;

        .slider-text-container {
            text-align: center;
            padding: .5em;

            .slider-text-link {
                color: #757575;
                text-decoration: none;
            }
        }

        
    }
}
