.top-seller-section {
    margin-top: 15em;

    .header {
        padding: 20px 0;
    }
    .topseller {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        grid-gap: 2em;
    }

    .btn {
        text-align: center;
        padding: 3em 0;
    }
}