.contact-info {
    border: solid 1px #c6c6c5;
    background: #ffffff;
    border-radius: 5px;
    padding: 2em 1em;


    form {

        .contact-input {
            width: 100%;
            padding: 10px 15px;
            outline: none;
            border-radius: 3px;
            border: solid 1px #c6c6c5;
        }
        .contact-label {
            color: #878786;
            font-size: 14.004px;
            font-weight: 400;
            line-height: 40px;
        }

        .contact-name-form {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 1em;
            // align-items: center;
        }

        .contact-title-form {
            margin: 2em 0;
        }

        .contact-mail-header {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            color: #8bc34a;
            border-bottom: solid 1px #c6c6c5;
            padding: 10px 0;
        }

        .contact-address {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 1em;
            margin: 1.5em 0;
        }

        .contact-notification {
            padding: 10px 0;
            p {
                font-size: 14px;
                font-weight: 400;
                // line-height: 30px;
            }
        }
    }

    .contact-btn-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2em;

        .btn-link {
            color: #1c1c1b;
            font-size: 14.004px;
            font-weight: 400;
            line-height: 17px;
            text-align: center;
            letter-spacing: 0.28008px;

            a {
                color: #8bc34a;
            }
        }

        .btn {
            padding: 10px 15px;
            font-size: 14.004px;
            font-weight: 400;
            border-radius: 3px;
        }

        .back-btn {
            border: solid 1px #757575;
            background: rgba(0,0,0,0);
            color: #757575;
        }
        .next-btn {
            background-color: #8bc34a;
            border: 1px solid #8bc34a;
            color: #ffffff;
            // width: 149px;
            // height: 41px;
        }
    }
}