.confirm-account {
    border: solid 1px #c6c6c5;
    background: #ffffff;
    border-radius: 5px;
    padding: 2em 1em;
    height: 620.82px;
    display: flex;
    align-items: center;
    justify-content: center;

    .confirm-code {
        width: 40%;
        // display: flex;
        // flex-direction: column;

        // div {
        //     text-align: center;
        //     // margin: 1em 0;
        // }

        .confirm-input {
            margin: 1.5em 0em;
            text-align: center;
        }

        input {
            height: 39.99px;
            outline: none;
            padding: 0px 10px;
            border: solid 1px #c6c6c5;
            background-color: #ffffff;
            border-radius: 3px 0 0 3px;
        }

        .get-code {
            display: flex;
            align-items: center;

            button {
                height: 39.99px;
                background-color: #8bc34a;
                border: 1px solid #8bc34a;
                color: #ffffff;
                padding: 0px 20px;
                border-radius: 0px 3px 3px 0px;
            }

            
        }

        label {
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
        }

        input {
            width: 100%;
        }

        .set-code {
            button {
                background-color: #c8c8c8;
                color: #ffffff;
                font-size: 14.004px;
                font-weight: 400;
                padding: 10px 15px;
                outline: none;
                border: 1px solid #c8c8c8;
                border-radius: 3px;
                margin-top: 15px;
            }
        }
    }


}