@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Montserrat&family=Noto+Sans+SC&family=Nunito&family=Open+Sans&family=Poppins&family=Roboto+Mono&family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Fira Code', monospace;
  position: relative;
}

body::-webkit-scrollbar {
  width: .6em;
}

body::-webkit-scrollbar-track {
  opacity: 0.2;
  background-color: #c8c8c8;
  border-radius: 50px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: grey;

}